$background-color: #f9f4ef;
$app-color: #eaddcf;
$button-color: #8c7851;
$text1-color: #716040;

*,*::after,*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
    font-size: 18px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7vw;
    background-color: $background-color;
    color: $text1-color
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    // width: 25vw;

    h1 {
        color: $button-color;
        font-weight: 600;
    }
}

#exibirSenha {
    background-color: $app-color;
    color: $app-color;
    position: relative;
    width: 100%;
    padding: 1vw;
    margin: 5px 0 15px 0;
    display: flex;
    align-items: center;

    #password {
        padding: 0 0 0 5px;
        font-size: 1.3rem;
        width: 100%;
        border: none;
        background-color: rgba(255, 255, 255, 0);
        color: $text1-color;
        outline: none;
    }

    #btnCopy {
        display: flex;
        align-items: center;
        color: $button-color;
        font-size: 2rem;
        user-select: none;
        padding: 5px;
        border-radius: 10px;

        &:hover {
            background-color: rgba(0, 0, 0, 0.2);
            cursor: pointer;
        }
    }
}

#painelControle{
    background-color: $app-color;
    color: $text1-color;
    padding: 1vw;
    margin: 0 0 1vw 0;
    width: 100%;

    .length {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5px;

        p {font-size: .8rem;}

        #number {
            color: $button-color;
            font-weight: 600;
            font-size: 1.2rem;
        }
    }

    input[type=range] {
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        height: .3rem;
        margin: 0 0 5px 0;
        border-radius: 5px;
        background-color: $button-color;
        outline: none;

        &:hover {cursor: pointer;}
    }
    

    #listCheckbox {
        margin: inherit;
        user-select: none;

        input {margin: 0 1vw;}
    }

    .strength {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: inherit;
        padding: 1vw;
        background-color: $background-color;

        p {
            color: $button-color;
            font-weight: 600;
        }

        .lvlStrength {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 50%;

            .lvlSpan {
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: 70px;

                .lvl {
                    width: 12px;
                    height: 120%;
                    border: 1px solid $button-color;
                }

                .expose {background-color: rgb(255, 183, 49);}
            }
        }
    }

    #btnGenerate {
        width: 100%;
        padding: 1vw;
        background-color: $button-color;
        border: none;
        color: $background-color;

        &:hover {cursor: pointer;}
    }
}